
@{
    /**/

    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}


<div id="templatemo_content_right">
    @Html.Action("ProductPartial", "Product")

    <div class="cleaner_with_width">&nbsp;</div>

    <div class="cleaner_with_height">&nbsp;</div>

    <a href="subpage.html"><img src="~/Public/images/templatemo_ads.jpg" alt="ads" /></a>
</div> <!-- end of content right -->
<div class="cleaner_with_height">&nbsp;</div>

