<link href="~/Content/NguoiDungCssLayout/About.css" rel="stylesheet" />
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2>About</h2>
<div id="text">
    <div style="color: black;">
        <h5 style="text-align: center;
                     color: #bf4040;
                      font-size: 45px;
                      font-family: Arial, Helvetica, sans-serif;">
            <span style="color: #ff0000;">T</span><span style="color: #0000ff;">E</span><span style="color: #1aff1a;">A</span><span style="color: #ffff33;">M</span><span style="color: ;"> 06</span>
        </h5>
        <div style="margin-left: 10px ">
            <u><i><h1 style="font-size: 20px;color: #A42E2E">1.Chủ Đề:</h1></i></u>
            <p style="color:white"><span style="font-size:30px;margin-left: 15px">S</span>hop chúng tôi có  rất nhiều loại giày thể thao cho cả nam và nữ với nhiều kiểu dáng khá đẹp và bắt mắt. Đến từ nhiều thương hiệu nổi tiếng trên thế giới như: <i>Nike, Adidas, Jordan....</i></p>
        </div>
        <div style="margin-left: 10px">
            <u><i><h1 style="font-size: 20px;color: #A42E2E">2.Thành viên gồm:</h1></i></u>
            <p style="margin-left: 15px;color:white">
                Vũ Hoàng Nữ Trinh<br>Thạch Huỳnh Dũng
            </p>
        </div>
        <div style="margin-left: 10px; ">
            <u><i><h1 style="font-size: 20px;color: #A42E2E">3.Đóng góp  từng thành viên:</h1></i></u>
            <p style="margin-left: 15px;color:white">
                <i>- Vũ Hoàng Nữ Trinh:</i> <br>
                <span style="margin-Left:60px">+ Back_end</span><br>

            <p style="margin-left: 15px;color:white ">
                <i>- Thạch Huỳnh Dũng: </i> <br>
                <span style="margin-Left:60px">+ Design Layout</span></br>


        </div>
        <table>
            <tr style="background-color: #5AA4CE">
                <th>STT</th>
                <th>MSSV</th>
                <th>TÊN</th>
                <th>VAI TRÒ</th>
                <th>CÔNG VIỆC</th>
            </tr>
            <tr style="background-color: #F7D3E2">
                <th>1</th>
                <th>1706020090</th>
                <th>Vũ Hoàng Nữ Trinh</th>
                <th>Thành Viên</th>
                <th style="text-align:left; padding-left:10px"> - Back-end</th>
            </tr>
            <tr style="background-color: #5AA4CE">
                <th>2</th>
                <th>1706020012</th>
                <th>Thạch Huỳnh Dũng</th>
                <th>Thành viên</th>
                <th style="text-align:left;padding-left:10px">- Design Layout</th>
            </tr>
        </table>
    </div>
</div>




