@using WebsiteBook.Models;
@model List<NXB>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

@foreach (var item in Model)
{
    <ul>
        <li><a href="#"><i class='far fa-id-badge'></i> @item.TenNXB</a></li>
    </ul>
}
<a href="#" style="color:grey;margin-left:10px;"><i class="fa fa-hand-o-right"></i> Xem thêm...</a>
